@model IEnumerable<BCPA_OTS.Models.Event>
@{
    ViewBag.Title = "Home Page";
    int colNo = 0;
}

<header class="jumbotron">
    <h1>Bucks Center <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Performing Arts</h1>
    <h2>List of Forthcoming Events</h2>
    <p>
        <select>
            <option>All Dates</option>
            <option>January</option>
            <option>February</option>
        </select>
        <select>
            <option>All Events</option>
            <option>Music</option>
            <option>Dance</option>
        </select>
    </p>
</header>

<main class="row">

    @foreach (var show in Model)
    {

        if (colNo > 0 && colNo % 2 == 0)
        {
            @:</main><main class="row">
        }

        <div class="col-lg-6">
            <article class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="text-center">
                        <a href="~/Home/Show/@show.EventID">
                            @show.Name
                        </a>
                    </h2>
                </div>
                <div class="panel-body">
                        <a href="~/Home/Show/@show.EventID">
                            <img class="img-responsive" src="~/Images/@show.ImageURL" alt="Image of Show" />
                        </a>
                        <br />
                        <p>
                            @show.Description
                        </p>
                        <p class="text-center">
                            <strong>Starts: @show.StartDateTime.ToLongDateString()</strong>
                        </p>
                </div>
            </article>
        </div>

        colNo++;
    }

</main>
